/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Jan-2018, 18:32:50
    Author     : sripriya
*/

#footer{
    clear:both;
    width: auto;
    height: 40px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color:$white;
    text-shadow:0.1em 0.1em $bg-black;
    background-color: $bg-black;
}
