/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Jan-2018, 18:32:50
    Author     : sripriya
*/
$bg-black: #333;
$bg-blue:#2f4d7b;
$border-red:#ba9797;
$border-yellow:#f8f24d;
$white: #fff;
body{
    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
    background-color: #e9e9e9;
        
    
    p{
        font-size: 0.8em;
        line-height: 1.28;
    }
}

