/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Jan-2018, 18:24:02
    Author     : sripriya
*/


#navigation{
    background-color: $bg-black;
    border: 3px solid $border-yellow;
    margin-top: 20px;
    text-shadow: 0.1em 0.1em $bg-black;
    height:260px;
    
    @include atMedium{
        height: 60px;
    }
     
}

#nav{
    list-style: none;
    
        
    ul{
        margin:0;
        padding:0;
        width: auto;
        
        
        @include atMedium{
            display:inline-block;
        }

    }
    
    li{
        font-size: 24px;
        float:left;
        position: relative;
        height: 50px;
        width:350px;
        
        
        @include atMedium{
            width:120px;
        
        }
        
    
    }
    
    li:last-child { 
        
        @include atLarge{
            float: right; 
        }
    
    }
    
    a:link,a:visited{
        display: block;
        color: $white;
        text-decoration:none;
    
    }
    
    a:hover{
        color: lightblue;
    
    }

}


.currentpage{
    color: lightblue ! important;
}